@media (prefers-color-scheme: light) {
    .button {
        box-shadow: var(--light) 0px 5px 15px;
    }
}

@media (prefers-color-scheme: dark) {
    .button {
        box-shadow: var(--dark) 0px 5px 15px;
    }
}

$twitterColor : #1DA1F2;
$facebookColor : #0C88EE;

.button {
    font-size: 2rem;
    background: white;
    border-radius: 50%;
    border: .3rem solid white;
    min-width: 2.5rem;
    min-height: 2.5rem;

    position: relative;

    svg {
        transition-duration: 150ms;
        top : calc(0%);
        position: absolute;
    }

    &:hover {
        svg {
            top : calc(0% + -0.5rem);
            transform: rotate(-20deg);
        }
    }
}

.github {
    color : black !important;
}

.facebook {
    color: $facebookColor;
}

.twitter {
    color: $twitterColor;
}
