@media (prefers-color-scheme: light) {
	.button.action {
		background: var(--light-action) !important;
		border: 1px solid var(--light-action);
		color: white;

		&:hover {
			box-shadow: var(--light-action) 0px 2px 5px;
		}
	}

	.button {
		border: 1px solid var(--light);
		background: none;
		
		&:hover {
			background: var(--light-var);
			box-shadow: var(--light) 0px 2px 5px;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.button.action {
		background: var(--dark-action) !important;
		border: 1px solid var(--dark-action);
		color: white;
		
		&:hover {
			box-shadow: var(--dark-action) 0px 2px 5px;
		}
	}

	.button {
		border: 1px solid var(--dark);
		background: none;
		
		&:hover {
			background: var(--dark-var);
			box-shadow: var(--dark) 0px 2px 5px;
		}
	}
}

.button {
	padding: .5rem 1rem;
	min-width: 9rem;
	font-size: 1rem;
	font-weight: 500;
	border-radius: .5rem;
	opacity: .8;
	transition-duration: 150ms;

	&:hover {
		opacity: 1;
	}

	&:disabled {
		opacity: .7;
		color : gray;
	}

	&:active {
		box-shadow: none !important;
	}
}

.action {
	
}