@media (prefers-color-scheme: light) {
	.container {
		background: white;
	}
	.content {
		color : black;
	}
}

@media (prefers-color-scheme: dark) {
	.container {
		background: black;
	}
	.content {
		color : white;
	}
}


.container {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}