@media (prefers-color-scheme: light) {
	.card {
		border-color: var(--light-var) !important;
		box-shadow: var(--light) var(--box-shadow-size-md);
		background: var(--light-5);
	}
	.title {
		hr {
			border-color: var(--light-var);
		}
	}
}

@media (prefers-color-scheme: dark) {
	.card {
		border-color: var(--dark-var) !important;
		box-shadow: var(--dark) var(--box-shadow-size-md);
		background: var(--dark-5);
	}
	.title {
		hr {
			border-color: var(--dark);
		}
	}
}

.flex {
	display: flex;
    flex-wrap: wrap;
	gap: 1rem;
}

.card {
    min-width: 300px;
    flex-grow: 1;
	padding : .5rem;
	border: 1px solid white;
}

.title {
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}