.main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    // background: url("http://localhost:4000/test-background.png");

    background-size: cover;
}